asgiref==3.9.1
Django==5.2.5
et_xmlfile==2.0.0
exchange_calendars==4.11
korean-lunar-calendar==0.3.1
numpy==2.3.2
openpyxl==3.1.5
pandas==2.3.1
pandas_market_calendars==5.1.1
pyluach==2.2.0
python-dateutil==2.9.0.post0
python-decouple==3.8
pytz==2025.2
six==1.17.0
sqlparse==0.5.3
toolz==1.0.0
tzdata==2025.2
