asgiref==3.9.1
Django==5.2.5
et_xmlfile==2.0.0
exchange_calendars==4.11
iniconfig==2.1.0
korean-lunar-calendar==0.3.1
numpy==2.3.2
openpyxl==3.1.5
packaging==25.0
pandas==2.3.1
pandas_market_calendars==5.1.1
pluggy==1.6.0
Pygments==2.19.2
pyluach==2.2.0
pytest==8.4.1
pytest-django==4.11.1
python-dateutil==2.9.0.post0
python-decouple==3.8
pytz==2025.2
six==1.17.0
sqlparse==0.5.3
toolz==1.0.0
tzdata==2025.2
